@media (max-width: 665px) {
    .footer__sub-block-two   {
        padding-right: 40px !important;
    }
}

@media (max-width: 640px) {
    .footer__sub-block-two   {
        padding-right: 20px !important;
    }
    .footer__sub-block-one {
        padding-right: 30px !important
    }
}

@media (max-width: 608px) {
    .footer__sub-block-two   {
        padding-right: 10px !important;
    }
    .footer__sub-block-one {
        padding-right: 15px !important
    }
}

@media (max-width: 583px) {
    .footer__sub-block-text-one {
        font-size: 17px !important;
    }
    .footer_sub-block-two-text {
        font-size: 17px !important;
    }
    .footer__sub-block-one-contacts-text {
        font-size: 17px !important;
    }
}

@media (max-width: 577px) {
    .footer__sub-block-one {
        padding-right: 0 !important;
    }
    .footer__sub-block-two {
        padding-right: 0 !important;
    }
}


@media (max-width: 549px) {
    .footer__sub-block-text-one {
        font-size: 14px !important;
    }
    .footer_sub-block-two-text {
        font-size: 14px !important;
    }
    .footer__sub-block-one-contacts-text {
        font-size: 14px !important;
    }
    .footer__sub-block-two-userful-link {
        font-size: 10px !important;
    }
    .footer__sub-block-one-contacts-info {
        font-size: 10px !important;
    }
}

@media (max-width: 535px) {
    .footer__sub-block-one-about {
        width: 187px !important;
    }
}

@media (max-width: 525px) {
    .footer__sub-block-two {
        width: 130px !important;
    }
}

@media (max-width: 500px) {
    .footer {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 29px 25px 33px 25px !important;
    }
}

@media (max-width: 490px) {
    .footer__sub-block-one-about {
        width: 161px !important;
    }
    
    .footer__sub-block-text-one {
        font-size: 13px !important;
    }
    .footer_sub-block-two-text {
        font-size: 13px !important;
    }
    .footer__sub-block-one-contacts-text {
        font-size: 13px !important;
    }
}

@media (max-width: 480px) {
    .footer__sub-block-one-about {
        width: 161px !important;
    }
    .footer__sub-block-one-contacts {
        height: 63px !important;
    }
    .footer__sub-block-one-contacts-link {
        height: 30px !important;
    }
    .footer__sub-block-text-one {
        font-size: 12px !important;
    }
    .footer_sub-block-two-text {
        font-size: 12px !important;
    }
    .footer__sub-block-one-contacts-text {
        font-size: 12px !important;
    }
    .footer__sub-block-two-userful-link {
        font-size: 9px !important;
    }
    .footer__sub-block-one-contacts-info {
        font-size: 9px !important;
    }
    .footer__sub-block-two-link {
        height: 124px !important;
    }
    .footer_sub-block-two-text {
        margin-bottom: 20px !important;
    }
    .footer__line {
        margin-top: 12px !important;
    }
    .container {
    padding: 50px 55px !important;
    }
}


@media (max-width: 478px) {
    .footer__logo-block {
        width: 100px !important;
    }
    #one img {
        width: 23px !important;
        height: 23px !important;   
    }
    #two img {
        width: 23px !important;
        height: 23px !important;   
    }
    #three img {
        width: 23px !important;
        height: 23px !important;   
    }
}

@media (max-width: 420px) {
    .footer__text-subscribe {
        font-size: 8px !important;
    }
    .footer__text-share {
        font-size: 8px !important;
    }
    .footer__text-info {
        font-size: 8px !important;
    }
    .footer__sub-block-two {
        width: 111px !important;
    }
    .footer__sub-block-two-link {
        width: 111px !important;
    }
    .footer__sub-block-one-about {
        width: 140px !important;
    }
    .footer__sub-block-one-contacts {
        width: 150px !important;
    }
    .container {
        padding: 50px 35px !important;
    }
}

@media (max-width: 390px) {
    .footer__sub-block-one-contacts {
        width: 120px !important;
    }
    .container {
        padding: 50px 25px !important;
    }
}

@media (max-width: 365px) {
    .footer__sub-block-one-about {
        margin-bottom: 20px !important;
    }
    .footer__sub-block-text-one {
        font-size: 10px !important;
    }
    .footer_sub-block-two-text {
        font-size: 10px !important;
    }
    .footer__sub-block-one-contacts-text {
        font-size: 10px !important;
    }
    .footer__sub-block-two-userful-link {
        font-size: 8px !important;
    }
    .footer__sub-block-one-contacts-info {
        font-size: 8px !important;
    }
    .footer__sub-block-two-link {
        height: 114px !important;
    }
    .footer_sub-block-two-text {
        margin-bottom: 20px !important;
    }
    .footer__line {
        margin-top: 12px !important;
    }
    .footer__sub-block-two {
        height: 170px !important;
    }
}
